/* GENERAL OVERAL STYLING */

.App {
  text-align: center;
}

.header {

  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  background-color: #282c34;
  padding: 20px;


}

.home {

text-align: center;
margin-left: auto;
margin-right: auto;
width: 100%;

}

#dropdown-basic-button {

  width: 170px; 

  
}

.Option:hover {

  background-color: lightgray;


}

.game {

  background-color: lightgray;
  padding: 5px; 
  color: #282c34;
  width: 150px; 
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;

}

.body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

input {

  margin: 50px;
  text-align: center; 
}


img {

  width: 200px; 
  height: 350px; 
}


.cards {

  margin: 20px; 

}







